.full-width {
    width: 100%;
    box-sizing: border-box;
}

.max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
    lost-utility: clearfix;
}

.box {
    background: color-white;
    display: block;
    padding:  1em 2em 0;
    margin-bottom: 1em;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.row {
    lost-utility: clearfix;
    width: 100%;
}

.container {
    lost-utility: clearfix;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.column {
    lost-column: 1/1;
}

.controls > * {
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }

    column:last-child,
    columns:last-child {
        margin-right: 0;
    }
}

@media (min-width: 550px) {
    .container {
        width: 80%;
    }

    .one.column, .one.columns {
        lost-column: 1/12 0;
    }

    .two.columns {
        lost-column: 2/12 0;
    }

    .three.columms {
        lost-column: 3/12 0;
    }

    .four.columms {
        lost-column: 4/12 0;
    }

    .five.columms {
        lost-column: 5/12 0;
    }

    .six.columns {
        lost-column: 6/12 0;
    }

    .seven.columns {
        lost-column: 7/12 0;
    }

    .eight.columns {
        lost-column: 8/12 0;
    }

    .nine.columns {
        lost-column: 9/12 0;
    }

    .ten.columns {
        lost-column: 10/12 0;
    }

    .eleven.columns {
        lost-column: 11/12 0;
    }

    .twelve.columns {
        lost-column: 12/12 0;
    }
}
